<h1>매장 상세페이지</h1>
<br>
    매장이름 : <%= rest_info.name %> <br>
    주소 : <%= rest_info.address %> <br>
    전화번호 : <%= rest_info.phone_num %> <br>
    소개 : <%= rest_info.introduction %> <br>
    점주 : <%= rest_info.seller_id %>    

<br>
<% for(let menu_log of menu_info){ %>
    <form action="/restaurant/cart/<%=rest_info.id%>" method="post">
    품명: <input type="text"  name="menu_name" value="<%= menu_log.food %>" required='required'><br>
    가격: <input type="number"  name="menu_cost" value="<%= menu_log.cost %>" required='required'><br>
    <% if (session.usermode == 'customer') { %>
    <button type="submit">담기</button>
    <% } %>
    </form>
    <hr>
<% } %>
<br>
<% if (session.usermode == 'seller') { %>
<details>
<summary>메뉴 추가</summary>
<form action="/restaurant/detail/<%=rest_info.id%>" method="post">
    품명:<input type="text"  name="menu_name" value="" required='required'>
    가격:<input type="number"  name="menu_cost" value="" required='required'>
    
    <button type="submit">등록</button>
    
</form>
</details>
<% } %>
<br>
<% if (session.usermode == 'customer') { %>
<a href="/cart/cart_list">장바구니 보기</a>
<% } %>
<br>
<a href="/">뒤로가기</a>