<h1>매장 상세페이지</h1>
<br>
    매장이름 : <%= rest_info.name %> <br>
    주소 : <%= rest_info.address %> <br>
    전화번호 : <%= rest_info.phone_num %> <br>
    소개 : <%= rest_info.introduction %> <br>
    점주 : <%= rest_info.seller_id %>    

<br><hr>
<h2>메뉴</h2>
<% for(let menu_log of menu_info){ %>
    품명: <%= menu_log.food %><br>
    가격: <%= menu_log.cost %><br>
    <hr>
<% } %>
<br>
<details>
<summary>메뉴 추가</summary>
<form action="/restaurant/detail/<%=rest_info.id%>" method="post">
    품명:<input type="text"  name="menu_name" value="" required='required'>
    가격:<input type="number"  name="menu_cost" value="" required='required'>
    <button type="submit">등록</button>
</form>
</details>
<br>
<a href="/">뒤로가기</a>