<h1>매장 상세페이지</h1>
<br>
    매장이름 : <%= rest_info.name %> <br>
    주소 : <%= rest_info.address %> <br>
    전화번호 : <%= rest_info.phone_num %> <br>
    소개 : <%= rest_info.introduction %> <br>
    점주 : <%= rest_info.seller_id %>    

<br><br>
<a href="/">뒤로가기</a>
