<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/nav %>

    <div class="container">
        <h1>this is main page</h1>
        <br>
        <%= data %> <br>
        현재 유저 : <%= user %>
        <!-- <% for(let user of data) { %>
            username : <%= user.username %> <br>
            email : <%= user.email %>
            <br> <br>
        <% } %> -->
        <% if (session.usermode == 'seller') { %>
        <a href="/restaurant/register_restaurants">가게등록</a>
        <% } %>
        <br><br>
        <h2>매장 리스트</h2>
        <hr>
        <% for(let shop of shop_list) { %>
            매장이름 : <a href="/restaurant/detail/<%=shop.id%>"><%= shop.name %></a><br>
            주소 : <%= shop.address %> <br>
            전화번호 : <%= shop.phone_num %> <br>
            소개 : <%= shop.introduction %> <br>
            점주 : <%= shop.seller_id %>    
            <hr>
        <% } %>

    </div>
</body>
</html>