<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/nav %>

    <div class="container">
        <h1>Main page</h1>
        
        <% if (session.usermode == 'seller') { %>
        <a href="/restaurant/register_restaurants">가게등록</a>
        <% } %>
        <br>
        <br>
        
        <h2>카테고리</h2>
        <a href="/restaurant/index/koreanFood">한식</a>
        <a href="/restaurant/index/japaneseFood">일식</a>
        <a href="/restaurant/index/chineseFood">중식</a>
        <a href="/restaurant/index/snack">분식</a>
        <a href="/restaurant/index/midnightSnack">야식</a>
        <a href="/restaurant/index/chicken">치킨</a>
        <a href="/restaurant/index/pizza">피자</a>
        <a href="/restaurant/index/fastFood">패스트푸드</a>

        <h2>매장 리스트</h2>
        <hr>
        <% for(let shop of shop_list) { %>
            매장이름 : <a href="/restaurant/detail/<%=shop.id%>"><%= shop.name %></a><br>
            범주 : <%= shop.category %> <br>
            주소 : <%= shop.address %> <br>
            전화번호 : <%= shop.phone_num %> <br>
            소개 : <%= shop.introduction %> <br>
            점주 : <%= shop.seller_id %>    
            <hr>
            <!-- <a href="/restaurant/index/<%= shop.category%>"><%=shop.category%>로 이동</a> -->
        <% } %>
        
        
        
    </div>
</body>
</html>